html, body {
   height: 100%;
   margin: 0;
   padding: 0;
}

#map {
   height: 100%;
}

.controls {
   margin: 10px 10px 10px 10px;
   border: 2px solid transparent;
   border-radius: 3px;
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   outline: none;
   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
   background-color: #fff;
   font-family: Roboto;
   font-weight: 300;
   padding: 5px 10px 5px 10px;
   text-overflow: ellipsis;
}

#pac-input {
   margin-bottom: 0px;
   font-size: 15px;
   width: 300px;
}

#infobox {
   margin-bottom: 20px;
   font-size: 16px;
}

#pac-input:focus {
   border-color: #4d90fe;
}

.pac-container {
   font-family: Roboto;
}

#type-selector {
   color: #fff;
   background-color: #4d90fe;
   padding: 5px 11px 0px 11px;
}

#type-selector label {
   font-family: Roboto;
   font-size: 13px;
   font-weight: 300;
}

#dialogOverlay {
   display: none;
   opacity: .5;
   position: fixed;
   top: 0px;
   left: 0px;
   background-color: #fff;
   width: 100%;
   height: 100%;
   z-index: 10;
}

#dialogBox {
   display: none;
   position: fixed;
   background-color: #fff;
   border-radius: 8px;
   width: 550px;
   z-index: 20;
}

#dialogBoxHead {
   padding: 10px;
   font-family: Roboto;
   font-size: 19px;
   font-weight: 300;
   text-align: center;
}

#dialogBoxBody {
   padding: 20px;
   font-family: Roboto;
   font-size: 13px;
   font-weight: 300;
}

#dialogBoxFoot {
   padding: 10px;
   display: flex;
   justify-content: space-around;
}

.dialogButton {
   display: none;
   font-family: Roboto;
   font-size: 13px;
   font-weight: 300;
}

.dialogFormInput {
   width: 300px;
}

.dialogFormTooltip {
   display: none;
   font-family: Roboto;
   font-size: 13px;
   font-weight: 300;
   color: red;
}
